Predicting Life Expectancy - Python (Flows).json
[{"id":"9fbbdab1.56e728","type":"tab","label":"SmartInternz","disabled":false,"info":""},{"id":"488a4d8c.120b84","type":"function","z":"9fbbdab1.56e728","name":"","func":"var country = global.get('country')\nvar year = global.get('year')\nvar status = global.get('status')\nvar adult = global.get('adult')\nvar infant = global.get('infantDeaths')\nvar expHealth = global.get('expHealth')\nvar alcohol = global.get('alcohol')\nvar hepatitis = global.get('hepatitis')\nvar measles = global.get('measles')\nvar BMI = global.get('BMI')\nvar under5 = global.get('under5')\nvar polio = global.get('polio')\nvar expenditure = global.get('expenditure')\nvar diptheria = global.get('diphtheria')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('population')\nvar thin19 = global.get('thin19')\nvar thin9 = global.get('thin9')\nvar income = global.get('incomeRes')\nvar schooling = global.get('schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"e33d2826-8a4d-472a-a3bf-1511fa023229\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"year\", \"status\", \"adult\", \"infant\",\"alcohol\", \"expHealth\", \"hepatitis\", \"measles\", \"BMI\", \"under5\", \"polio\", \"expenditure\", \"diptheria\", \"hiv\", \"gdp\", \"population\", \"thin19\", \"thin9\", \"income\", \"schooling\"], \"values\": [[year,status,adult,infant,alcohol,expHealth,hepatitis,measles,BMI,under5,polio,expenditure,diptheria,hiv,gdp,pop,thin19,thin9,income,schooling]]}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["239b7c09.659264"]]},{"id":"1886484e.fc00f8","type":"ui_form","z":"9fbbdab1.56e728","name":"","label":"","group":"afba1b28.9ccd88","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status (Developed - 1, Developing - 0)","value":"status","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infants","type":"number","required":true,"rows":null},{"label":"Alcohol Intake of People","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Expenditure on Healthcare (Percentage)","value":"expHealth","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitis","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"under5","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"Thinness (1-19 years)","value":"thin19","type":"number","required":true,"rows":null},{"label":"Thinness (5-9 years)","value":"thin9","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"incomeRes","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","adult":"","infants":"","alcohol":"","expHealth":"","hepatitis":"","measles":"","BMI":"","under5":"","polio":"","expenditure":"","diphtheria":"","hiv":"","gdp":"","population":"","thin19":"","thin9":"","incomeRes":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":280,"wires":[["6609ef1e.769a6"]]},{"id":"6609ef1e.769a6","type":"function","z":"9fbbdab1.56e728","name":"","func":"global.set(\"country\", msg.payload.country)\nglobal.set(\"year\", msg.payload.year)\nglobal.set(\"status\", msg.payload.status)\nglobal.set(\"adult\", msg.payload.adult)\nglobal.set(\"infantDeaths\", msg.payload.infants)\nglobal.set(\"expHealth\", msg.payload.expHealth)\nglobal.set(\"alcohol\", msg.payload.alcohol)\nglobal.set(\"hepatitis\", msg.payload.hepatitis)\nglobal.set(\"measles\", msg.payload.measles)\nglobal.set(\"BMI\", msg.payload.BMI)\nglobal.set(\"under5\", msg.payload.under5)\nglobal.set(\"polio\", msg.payload.polio)\nglobal.set(\"expenditure\", msg.payload.expenditure)\nglobal.set(\"diphtheria\", msg.payload.diphtheria)\nglobal.set(\"hiv\", msg.payload.hiv)\nglobal.set(\"gdp\", msg.payload.gdp)\nglobal.set(\"population\", msg.payload.population)\nglobal.set(\"thin19\", msg.payload.thin19)\nglobal.set(\"thin9\", msg.payload.thin9)\nglobal.set(\"incomeRes\", msg.payload.incomeRes)\nglobal.set(\"schooling\", msg.payload.schooling)\nvar apikey=\"B_c8cflsTJTR6ygAzB0Vt4w8zLNE2QIUmluukRwkicHc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["ab7b3f8c.cac1"]]},{"id":"a350c38f.d2cf","type":"debug","z":"9fbbdab1.56e728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":360,"wires":[]},{"id":"ab7b3f8c.cac1","type":"http request","z":"9fbbdab1.56e728","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":240,"wires":[["a350c38f.d2cf","488a4d8c.120b84"]]},{"id":"99b017b8.717058","type":"inject","z":"9fbbdab1.56e728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["6609ef1e.769a6"]]},{"id":"239b7c09.659264","type":"http request","z":"9fbbdab1.56e728","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e33d2826-8a4d-472a-a3bf-1511fa023229/deployments/b04f1b77-35bb-4176-b10e-8097f0a603c9/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":200,"wires":[["a350c38f.d2cf","1b788014.0b23c"]]},{"id":"e78a9246.388da","type":"ui_text","z":"9fbbdab1.56e728","group":"afba1b28.9ccd88","order":1,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"1b788014.0b23c","type":"function","z":"9fbbdab1.56e728","name":"","func":"msg.payload = msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["e78a9246.388da"]]},{"id":"afba1b28.9ccd88","type":"ui_group","z":"","name":"Fill in the details of the Country of which you want to predict","tab":"f712ea20.10d9a8","order":1,"disp":true,"width":"12","collapse":false},{"id":"f712ea20.10d9a8","type":"ui_tab","z":"","name":"Predicting Life Expectancy of Humans in a country","icon":"dashboard","disabled":false,"hidden":false}]