Predicting Life Expectancy - AutoAI (Flows).json
[{"id":"8afbb2df.af797","type":"tab","label":"SmartInternz(AutoAI)","disabled":false,"info":""},{"id":"c9fbf765.b71c68","type":"function","z":"8afbb2df.af797","name":"","func":"var country = global.get('country')\nvar year = global.get('year')\nvar status = global.get('status')\nvar adult = global.get('adult')\nvar infant = global.get('infantDeaths')\nvar expHealth = global.get('expHealth')\nvar alcohol = global.get('alcohol')\nvar hepatitis = global.get('hepatitis')\nvar measles = global.get('measles')\nvar BMI = global.get('BMI')\nvar under5 = global.get('under5')\nvar polio = global.get('polio')\nvar expenditure = global.get('expenditure')\nvar diptheria = global.get('diphtheria')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('population')\nvar thin19 = global.get('thin19')\nvar thin9 = global.get('thin9')\nvar income = global.get('incomeRes')\nvar schooling = global.get('schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"e33d2826-8a4d-472a-a3bf-1511fa023229\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"country\", \"year\", \"status\", \"adult\", \"infant\",\"alcohol\", \"expHealth\", \"hepatitis\", \"measles\", \"BMI\", \"under5\", \"polio\", \"expenditure\", \"diptheria\", \"hiv\", \"gdp\", \"population\", \"thin19\", \"thin9\", \"income\", \"schooling\"], \"values\": [[country, year,status,adult,infant,alcohol,expHealth,hepatitis,measles,BMI,under5,polio,expenditure,diptheria,hiv,gdp,pop,thin19,thin9,income,schooling]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["8ea11925.ab43e8"]]},{"id":"7d486e7d.12cc7","type":"ui_form","z":"8afbb2df.af797","name":"","label":"","group":"afba1b28.9ccd88","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status (Developed - 1, Developing - 0)","value":"status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infants","type":"number","required":true,"rows":null},{"label":"Alcohol Intake of People","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Expenditure on Healthcare (Percentage)","value":"expHealth","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitis","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"under5","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"population","type":"number","required":true,"rows":null},{"label":"Thinness (1-19 years)","value":"thin19","type":"number","required":true,"rows":null},{"label":"Thinness (5-9 years)","value":"thin9","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"incomeRes","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","adult":"","infants":"","alcohol":"","expHealth":"","hepatitis":"","measles":"","BMI":"","under5":"","polio":"","expenditure":"","diphtheria":"","hiv":"","gdp":"","population":"","thin19":"","thin9":"","incomeRes":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":320,"wires":[["2bf65f3f.5f426"]]},{"id":"2bf65f3f.5f426","type":"function","z":"8afbb2df.af797","name":"","func":"global.set(\"country\", msg.payload.country)\nglobal.set(\"year\", msg.payload.year)\nglobal.set(\"status\", msg.payload.status)\nglobal.set(\"adult\", msg.payload.adult)\nglobal.set(\"infantDeaths\", msg.payload.infants)\nglobal.set(\"expHealth\", msg.payload.expHealth)\nglobal.set(\"alcohol\", msg.payload.alcohol)\nglobal.set(\"hepatitis\", msg.payload.hepatitis)\nglobal.set(\"measles\", msg.payload.measles)\nglobal.set(\"BMI\", msg.payload.BMI)\nglobal.set(\"under5\", msg.payload.under5)\nglobal.set(\"polio\", msg.payload.polio)\nglobal.set(\"expenditure\", msg.payload.expenditure)\nglobal.set(\"diphtheria\", msg.payload.diphtheria)\nglobal.set(\"hiv\", msg.payload.hiv)\nglobal.set(\"gdp\", msg.payload.gdp)\nglobal.set(\"population\", msg.payload.population)\nglobal.set(\"thin19\", msg.payload.thin19)\nglobal.set(\"thin9\", msg.payload.thin9)\nglobal.set(\"incomeRes\", msg.payload.incomeRes)\nglobal.set(\"schooling\", msg.payload.schooling)\nvar apikey=\"B_c8cflsTJTR6ygAzB0Vt4w8zLNE2QIUmluukRwkicHc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["f6da3508.c548b8"]]},{"id":"59724220.3f3dcc","type":"debug","z":"8afbb2df.af797","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":400,"wires":[]},{"id":"f6da3508.c548b8","type":"http request","z":"8afbb2df.af797","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":280,"wires":[["59724220.3f3dcc","c9fbf765.b71c68"]]},{"id":"eae7d08a.b4f91","type":"inject","z":"8afbb2df.af797","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["2bf65f3f.5f426"]]},{"id":"8ea11925.ab43e8","type":"http request","z":"8afbb2df.af797","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/e1de97a7-b9e4-479b-a6e1-c839acb24607/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":240,"wires":[["59724220.3f3dcc","209c8235.6c535e"]]},{"id":"b47bf1a0.c5982","type":"ui_text","z":"8afbb2df.af797","group":"afba1b28.9ccd88","order":1,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":360,"wires":[]},{"id":"209c8235.6c535e","type":"function","z":"8afbb2df.af797","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":240,"wires":[["b47bf1a0.c5982"]]},{"id":"afba1b28.9ccd88","type":"ui_group","z":"","name":"Fill in the details of the Country of which you want to predict","tab":"f712ea20.10d9a8","order":1,"disp":true,"width":"12","collapse":false},{"id":"f712ea20.10d9a8","type":"ui_tab","z":"","name":"Predicting Life Expectancy of Humans in a country","icon":"dashboard","disabled":false,"hidden":false}]